body{
  margin: 0px;
  padding: 0px;
}

    .card {
      height: 350px;
      width: 400px;
       /* -webkit-box-shadow: 1px 25px 36px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 25px 36px 0px rgba(0,0,0,0.75);
box-shadow: 1px 25px 36px 0px rgba(0,0,0,0.75); */


      }
   
      .card img {
       margin: 0 auto;
       height: 250px;
       width: 300px;
      }
      .about{

        text-align: center;
      }